@font-face {
	font-family: "Stag Sans Light";
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Stag-Sans-Light.otf);
}

body {
	font-size: 1.5em;
	font-family: "stag sans light";
	padding-top: 120px;
}

#mainNavbar {
	background-color: #5f9ea0;
	font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
}

.navbar-header p {
	color: #FFFFFF;
}

.navbar-header button {
	background-color: #FFFFFF;
}

#bannerContainer {
	background-color: #5f9ea0;
	color: #f0f8ff;
	padding: 0;
	margin-bottom: 10px;
}

.flushLeft {
	padding-left: 0;
}

.flushRight {
	padding-right: 0;
}

.centerLG {
	display: flex;
	align-items: center;
}

#keySkills {
	background-color: #FFFFFF;
	padding: 15px;
}

a {
	color: #b5b5b5;
}

#keySkills p:hover {
	color: #000000;
}

h1,
h2,
h3 {
	text-shadow: #FFFFFF;
}

h2 {
	font-size: 1em;
}

h3 {
	color: #e5901a;
}

.textBackground {
	background-color: #FFFFFF;
	padding: 20px;
}

.jobTitle {
	color: #000000;
	font-size: 1.2em;
}

.returnToKeySkills {
	padding: 15px;
}

.returnXS {
	background-color: #5f9ea0;
	color: #FFFFFF;
}

.btn {
	background-color: #e5901a;
	color: #FFFFFF;
	text-shadow: none;
}

.btn:hover {
	background-color: #5f9ea0;
	color: #FFFFFF;
}

#navRow ul {
	list-style: none;
	padding-left: 0;
}

.columnTop {
	margin-top: 140px;
}


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
	#bannerContainer,
	#navRow {
		text-align: center;
	}
	.btn {
		margin: 10px 0 10px 0;
	}
	.lead {
		font-size: 18px;
	}
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
	#bannerContainer,
	#navRow {
		text-align: left;
	}
	.navbar-right,
	.navbar-header button {
		margin-top: 30px;
		margin-right: 100px;
	}
	.lead {
		font-size: 21px;
	}
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}