@font-face {
	font-family: "Stag Sans Light";
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Stag-Sans-Light.otf);
}

body {
	font-family: "stag sans light";
	font-size: 2em;
}

#indexBody {
	background-color: #5f9ea0;
  }
.portrait {
	padding-top:30%;
	
}
.landscape {
	padding-top:15%;
	
}
  .v-center {
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 2em;
	padding-bottom: 20px;
}

h2 {
	font-size: 2em;
	color: #FFFFFF;
	line-height: 1.5em;
}

@media screen and (min-width: 768px) {
	#indexBody {
		padding-top: 250px;
	}
}

container {
	padding-top: 15px;
}

.navLink {
	padding: 10px 0 10px 10px;
}

#brand,
#fullName {
	padding: 10px;
	font-size: 22px;
	font-weight: bold;
}


/* .row {
	padding-bottom: 20px;
} */

#mainHeader {
	background-color: #5f9ea0;
}

#mainHeader a {
	color: #000000;
}

.graphicPanel {
	background-color: #e5901a;
	padding: 5px;
}

figcaption {
	font-size: 13px;
	padding-top: 10px;
}

#mainHeaderSM a,
#mainHeaderXS a {
	color: #FFFFFF;
	font-size: 21px;
}

#mainIntro {
	margin-top: 20px;
}

#mainNavbar {
	background-color: #5f9ea0;
	font-size: 20px;
}

.navbar-header p {
	color: #FFFFFF;
}

.navbar-header button {
	background-color: #FFFFFF;
}

.lead {
	font-size: 18px;
}

#bannerContainer {
	background-color: #5f9ea0;
	color: #f0f8ff;
	padding: 0;
	margin-bottom: 10px;
}

.flushLeft {
	padding-left: 0;
}

.flushRight {
	padding-right: 0;
}

.centerLG {
	display: flex;
	align-items: center;
}

#keySkills {
	background-color: #FFFFFF;
	padding: 15px;
}

a {
	color: #b5b5b5;
}

#keySkills p:hover {
	color: #000000;
}

h3 {
	color: #e5901a;
}

.textBackground {
	background-color: #FFFFFF;
	padding: 20px;
}

.jobTitle {
	color: #000000;
	font-size: 1.2em;
}

.returnToKeySkills {
	padding: 15px;
}

.returnXS {
	background-color: #5f9ea0;
	color: #FFFFFF;
}

.btn {
	background-color: #e5901a;
	color: #FFFFFF;
	text-shadow: none;
}

.btn:hover {
	background-color: #5f9ea0;
	color: #FFFFFF;
}

#navRow ul {
	list-style: none;
	padding-left: 0;
}

.columnTop {
	margin-top: 20px;
}