body {
	font-size: 2em;
	background-color: #f2f2f2;
}

#bannerContainer,#mobileFooter {
	background-color: #5f9ea0;
	padding: 15px;
	color: #f0f8ff;
}
#bannerContainer a,#bannerContainer a:hover {
	color: inherit;
	text-decoration: none;
}
#keySkills {
	background-color: #FFFFFF;
	padding: 15px;
}
#keySkills p {
	cursor:pointer;
	color: #b5b5b5;
}
#keySkills p:hover {
	color: #000000;
}
h1, h2 {
	text-align: center;
}
h2 {
	font-size: 1em;
}
h3 {
	color: #e5901a;
}
.textBackground {
	background-color: #FFFFFF;
	padding: 20px;
	}
.jobTitle {
	color:#000000;
	font-size: 1em;
}
.returnToKeySkills {
	padding: 15px;
}
.returnXS {
	background-color: #5f9ea0;
	color:#FFFFFF;
}

@media screen and (max-width:767px) {
	#bannerContainer p {
		text-align: center;
		font-size: 1.5em;
	}
	p {
		font-size: 1.5em;
		text-align: center;
	}
	.textBackground p {
		text-align: left;
	}
	h2,h3 {
		font-size: 1.75em;
		text-align: center;
	}
}

@media screen and (min-width:768px) {
	h1 {
		text-align: left;
	}
	#bannerContainer h1{
		padding-top: 20px;
	}
}
